<footer class="border-t border-t-light-300 dark:border-t-dark-300 overflow-hidden bg-light-100 dark:bg-dark-100">

  <section class="flex justify-center items-center gap-4 border-b border-b-light-300 dark:border-b-dark-300 mx-16 py-5">
    <img class="w-20" data-aos="zoom-in" data-aos-duration="1000" src="assets/icon/aumc-300.png" />
    <p class="border-l dark:border-l-light-100 border-l-dark-100 pl-4 -ml-2 flex flex-col text-center">
      AUMC<span class="font-serif tracking-widest dark:text-dark-primary-200 text-light-accent-200">services</span>
    </p>
  </section>
  <section>
    <ul class="flex justify-evenly md:justify-center md:gap-5 text-xl py-4 items-center">
      <li *ngFor="let social of socialNetworks">
        <a href="{{social.url}}" title="{{social.name}} de AUMC Services">
          <i class="{{social.icon!}}"></i>
        </a>
      </li>
    </ul>
  </section>
  <section> </section>

  <section class="bg-light-200 mx-10 dark:bg-dark-200 text-center rounded-t-xl p-2">
    <p>Calle Bocanegra #18, Xalapa, Veracruz, México</p>
    <p class="">© Todos los derechos reservados</p>
  </section>
</footer>