<footer data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="500">
  <div class="container-logo">
    <div class="container-foto">
      <img data-aos="zoom-in" data-aos-duration="1000" src="assets/icon/aumc-300.png" />
    </div>
    <p data-aos="fade-right" data-aos-duration="1000" data-aos-offset="1200px" data-aos-delay="1000">
      AUMC<br /><span style="color: #47cbc0">SERVICES</span>
    </p>
  </div>
  <div class="grupo-2">
    <div class="box">
      <h3>Descubre</h3>
      <ul style="list-style: none">
        <li><a href="">Preguntas frecuentes</a></li>
        <li><a href="#ventajas">Beneficios</a></li>
        <li><a href="">Nuestro software</a></li>
      </ul>
    </div>

    <div class="box">
      <h3>Menú</h3>
      <ul style="list-style: none">
        <li><a routerLink="">Inicio</a></li>
        <li><a href="">Servicios</a></li>
        <li><a routerLink="/customers">Contactos</a></li>
        <li><a routerLink="/providers">Nosotros</a></li>
      </ul>
    </div>

    <div class="box">
      <h3>Legal</h3>
      <ul style="list-style: none">
        <li><a href="">Poíticas de trato de datos</a></li>
        <li><a href="">Términos y condiciones</a></li>
      </ul>
    </div>

    <div class="box">
      <h3>Información</h3>

      <ul style="list-style: none">
        <li>228 363 685</li>
        <li>contacto@restaurant.com</li>
        <li>Calle Bocanegra #18, Xalapa,Ver,México.</li>
      </ul>
    </div>
  </div>

  <div class="grupo-3">
    <div class="media-icon-list">
      <ul class="ul-list" style="list-style: none">
        <li>
          <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>

        <li>
          <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <div class="copyright-container">
      <p>© Todos los derechos reservados</p>
    </div>
  </div>
</footer>