<body>
    <div class="container-fluid">
        <div class="texto-header">
            <h1>Contáctanos</h1>
            <P>Nuestros servicios están diseñados para satisfacer las necesidades de grandes, pequeñas y medianas empresas. Para mayor información puede contactarnos a través del siguiente formulario</P>
        </div>


        <div class="row formulario">
            <div class="col-xl-5 col-md-6 col-xs-12 inputs-cont">
                <div class="inputs-header">
                    <SPAN>INGRESA TUS DATOS:</SPAN>
                </div>
                <div class="d-flex justify-content-center flex-column">
                    <input class="inputCamp" type="text" placeholder="Nombre">
                    <input class="inputCamp" type="text" placeholder="Número">
                    <input class="inputCamp" type="email" placeholder="Correo">
                    <textarea placeholder="Escribe tu mensaje..."></textarea>

                </div>
                <button class="btn btn-primary" style="width: 40%; margin-left: 30%; margin-left: 30%; text-align: center; margin-top: .75rem;">Enviar</button>
                <div class="datos">
                    <ul class="lista-contacto">
                        <li><i class="fa fa-phone" aria-hidden="true"></i>228 420 8734</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>Contacto@aumcservices.com</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>Calle Dos, 44-1, Xalapa,México</li>

                    </ul>
                </div>

            </div>
            <div class="col-xl-7 col-md-6  col-xs-12 imagencont">
                <img src="./assets/contactoimg.jpg">
            </div>
        </div>
        <div class="container-fluid ser-cont">
            <h3 style="text-align: center; font-size: 40px; margin-top:4rem">Servicios contables en AUMC</h3>
            <p>Somos expertos en el área de asesoría contable, tributaria y laboral</p>

            <div class="row servicios-row">
                <div class="d-flex flex-column col-xl-3 col-md-3 col-sm-6 col-xs-6 itemserv">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <span>Citas SAt</span>
                    <button class="btn btn-primary botons">Ver más</button>
                </div>
                <div class="d-flex flex-column col-xl-3 col-md-3 col-sm-6 col-xs-6 itemserv"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span>Trámite de SAS</span>
                    <button class="btn btn-primary botons">Ver más</button></div>
                <div class="d-flex flex-column col-xl-3 col-md-3 col-sm-6 col-xs-6 itemserv">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <span>Saldo a favor</span>
                    <button class="btn btn-primary botons">Ver más</button>
                </div>
                <div class="d-flex flex-column col-xl-3 col-md-3 col-sm-6 col-xs-6 itemserv">
                    <i class="fa fa-question" aria-hidden="true"></i>
                    <span>Asesoría finaciera</span>
                    <button class="btn btn-primary botons">Ver más</button></div>
            </div>
        </div>


    </div>
</body>