body{
    margin-top: 70PX;
    font-family: 'Montserrat', sans-serif;
}
.texto-header{
    text-align: center;
}
.texto-header p{
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.inputCamp{
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: none;
}
.inputs-header{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
textarea{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
}
.formulario{
    margin-top: 4rem;
}
.imagencont img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.inputs-cont{
    background-color: #d9e6ea;
}
.row>* {
    
    
    padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0);
    margin-top: var(--bs-gutter-y);
}
.lista-contacto{
    list-style: none;
    margin-top: 4rem;
    text-align: left;
    color: #333333;
    margin-left: 20%;
    
}
.lista-contacto li{
    margin-bottom: .5rem;
}
.fa{
    color:#47cbc0 ;
    margin-right: .5rem;
}
::placeholder{
    transition: all .1s; font-size: 70%; padding-left: 3%; text-align: left;}
    .inputCamp:hover::placeholder{
        transition: all .1s;
        font-size: 55%;        
        transform: translateY(-48%);
        padding-top: 1%;
        padding-left: 1%;
        
    }
    .inputCamp:hover{
        border: 1px solid #47cbc0;
    }
    textarea:hover{
        border: 1px solid #47cbc0;
    }
    .datos{
        position: relative;
    }
    
    .datos::before{
        content: "";
        background-color: #47cbc0 ;
        ;
        position: absolute;
        transform: scale(1);
        height: 2px;
        width: 90%;
        top: -1rem;
        left: 0;
        margin-left: 5%;
        margin-right: 5%;
        
        
 
        transform-origin:bottom right ;
        transition: transform .6s ease-out;

    }
    @media (max-width:768px){
        .imagencont{
            display: none;
        }
        .inputs-cont{
            background-image: url('imagencont.jpg');
            background-repeat: no-repeat;
            background-size: 150%, 120%, cover;
            background-position: -20px -20px;
        }
        .lista-contacto{
            list-style: none;
            margin-top: 4rem;
            text-align: left;
            color: white;
            margin-left: 10%;}
            .inputs-header span{
                color: white;
               
            }
            
    }
    .inputCamp{
        border: none;
        outline: none;
        font-size: 14px;
    }
    textarea{
        border: none;
        outline: none;
    }
    .botons{
        width: 50%;
        margin-left: 25%;
        margin-right:25% ;
        margin-top: .5rem;
    }
    .itemserv span{
        text-align: center;
        font-weight:600;
        font-size: 20px;
        margin-top: .5rem;
       
    }
    .itemserv{
        margin-bottom: 1.5rem;
    }
    .itemserv i{
        text-align: center;
        font-size: 50px;
        margin-bottom: .25rem;
        color: #333333;
    }
    .ser-cont{
        margin-top: 2rem;
    }
    .ser-cont p{
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        color: #333333;
    }
    .ser-cont h3{
        color: #47cbc0;
    }