<article
  class="animate__animated animate__fadeIn flex min-h-screen flex-col pt-16"
>
  <section class="flex flex-col gap-8 px-10 text-center sm:px-20 md:px-40">
    <h1 class="animate__animated animate__pulse text-4xl font-bold">
      ¿QUIENES SOMOS?
    </h1>
    <p>
      Somos una Consultoría dedicada principalmente a servicios de contabilidad,
      facturación y gestión de trámites diversos. Estamos altamente capacitados
      en el área contable, administrativa y asesoría integral, interesados en el
      crecimiento y desarrollo empresarial de nuestros clientes que son los que
      nos respaldan y recomiendan, dando soluciones concretas y sencillas para
      el mejor desempeño de las empresas.
    </p>
    <h2 class="text-lg font-semibold italic text-dark-primary-100">
      Permítenos ser parte de tus proyectos profesionales más exitosos,
      brindándote los servicios contables que requieres.
    </h2>
  </section>
  <section class="flex h-full w-full">
    <section
      class="animate__animated animate__zoomInUp text-white m-10 rounded-xl overflow-hidden flex justify-center items-center flex-col md:flex-row bg-light-primary-300 dark:bg-dark-primary-300"
    >
      <div class="w-full rounded-md md:w-1/2 h-60 md:min-h-full bg-center bg-cover bg-no-repeat" style="background-image: url('assets/image/imagen-nosotrosR.jpg');"></div>
      <section class="w-full md:w-1/2 flex flex-col text-center p-10 gap-8">
        <div class="">
          <h2 class="text-2xl font-semibold">MISIÓN</h2>
          <p>
            Proporcionar soluciones contables, financieras y administrativas a
            la medida, a través de acompañamiento oportuno, eficiente, seguro e
            innovador; por medio de servicios de revisarías fiscales, planeación
            financiera y consultorías que buscan aumentar la competitividad
            organizacional en beneficio de nuestros clientes.
          </p>
        </div>
        <div class="">
          <h2 class="text-2xl font-semibold">VISION</h2>
          <p>
            Consolidarnos como una firma reconocida por brindar a nuestros
            clientes servicios profesionales en asesoría contable, planeación
            financiera y consultorías que contribuyan al mejoramiento y
            crecimiento permanente de las organizaciones
          </p>
        </div>
      </section>
    </section>
  </section>
</article>
