<article
  class="animate__animated animate__fadeIn flex min-h-screen flex-col pt-16"
>
  <section class="flex flex-col gap-8 px-10 text-center sm:px-20 md:px-40">
    <h1 class="animate__animated animate__pulse text-4xl font-bold">
      ¿QUIENES SOMOS?
    </h1>
    <p>
      Somos una Consultoría dedicada principalmente a servicios de contabilidad,
      facturación y gestión de trámites diversos. Estamos altamente capacitados
      en el área contable, administrativa y asesoría integral, interesados en el
      crecimiento y desarrollo empresarial de nuestros clientes que son los que
      nos respaldan y recomiendan, dando soluciones concretas y sencillas para
      el mejor desempeño de las empresas.
    </p>
    <h2 class="text-lg font-semibold italic text-dark-primary-100">
      Permítenos ser parte de tus proyectos profesionales más exitosos,
      brindándote los servicios contables que requieres.
    </h2>
  </section>
  <section class="flex h-full w-full flex-1 justify-center">
    <section
      class="animate__animated animate__zoomInUp m-10 flex flex-col items-center justify-center overflow-hidden rounded-xl bg-light-primary-300 text-white shadow-lg dark:bg-dark-primary-300 md:flex-row"
    >
      <div
        class="h-60 w-full rounded-md bg-cover bg-center bg-no-repeat md:min-h-full md:w-1/2"
        style="background-image: url('assets/image/imagen-nosotrosR.jpg')"
      ></div>
      <section class="flex w-full flex-col gap-8 p-10 text-center md:w-1/2">
        <div class="">
          <h2 class="text-2xl font-semibold">MISIÓN</h2>
          <p>
            Proporcionar soluciones contables, financieras y administrativas a
            la medida, a través de acompañamiento oportuno, eficiente, seguro e
            innovador; por medio de servicios de revisarías fiscales, planeación
            financiera y consultorías que buscan aumentar la competitividad
            organizacional en beneficio de nuestros clientes.
          </p>
        </div>
        <div class="">
          <h2 class="text-2xl font-semibold">VISION</h2>
          <p>
            Consolidarnos como una firma reconocida por brindar a nuestros
            clientes servicios profesionales en asesoría contable, planeación
            financiera y consultorías que contribuyan al mejoramiento y
            crecimiento permanente de las organizaciones
          </p>
        </div>
      </section>
    </section>
  </section>
</article>
