<article
  class="animate__animated animate__fadeIn mt-16 overflow-hidden text-center"
>
  <h1 data-aos="zoom-in" class="py-5 text-5xl font-semibold">
    Nuestros servicios
  </h1>
  <h2 data-aos="zoom-out" class="px-2 text-xl md:text-3xl">
    Nuestros servicios están diseñados para satisfacer las necesidades de
    grandes, pequeñas y medianas empresas.
  </h2>

  <article class="peer my-10 mx-10 grid grid-cols-1 gap-2 sm:grid-cols-2 md:mx-36">
    <section
      data-aos="zoom-in"
      data-aos-delay="250"
      class="rounded-md bg-light-primary-100 p-4 shadow-md dark:bg-dark-primary-100 text-gray-800"
      *ngFor="let card of cards"
    >
      <h3 class="text-2xl font-semibold">
        {{ card.title }}
      </h3>
      <p class="py-2">
        {{ card.description }}
      </p>
    </section>
  </article>
</article>
