<body class="animate__animated animate__fadeIn">
    <br>
    <div class="container-fluid">
        <div class="texto-header">
            <h1>Nuestros servicios</h1>
            <P>Nuestros servicios están diseñados para satisfacer las necesidades de grandes, pequeñas y medianas empresas. Para mayor información puede contactarnos a través del siguiente formulario</P>
        </div>
    </div>
    <div class="container-fluid contenedor-servicios">
        <div class="row servicios">

            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Facturación</h2>
                        <p>Te ofrecemos servicios para facturar gastos de operaciones, facturaciòn digital y facturacion de campo</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Declaraciones</h2>
                        <p>Te ofrecemos servicios para declaracion de impuestos, gastos y impuestos atrasados</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Cálculo de impuestos</h2>
                        <p>Te ofrecemos servicios para calculo de impuestos fiscales, ISSR, Seguro social.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Citas SAT</h2>
                        <p>Olvidate de estar batallando en conseguir una cita en el sat, nosotros nos encargamos</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Cambio de domicilio fiscal</h2>
                        <p>Es importante tener tu domicilio fiscal, lo arreglamos por ti</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Cedula de empadronamiento</h2>
                        <p>este documento que se autoriza a los propietarios de establecimientos el desempeño de su actividad comercial, industrial o de servicios.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Saldo a favor SAT</h2>
                        <p>Revisamos si tienes saldo a favor en tu declaración anual y nos aseguramos que puedas cobrarlo</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Cedula de empadronamiento</h2>
                        <p>este documento que se autoriza a los propietarios de establecimientos el desempeño de su actividad comercial, industrial o de servicios.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Cambio de actividad</h2>
                        <p>Es normal que cambies de giro o tengas una nueva actividad, nosotros nos encargamos de mantenerlo actualizadas tus actividades</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Reclutamiento y selección de personal </h2>
                        <p>¿Tu negocio está en crecimiento?, nostros te brindamos la tranquilidad de tener un personal adecuado a las necesidades de tu negocio</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Renovación de firma electrónica</h2>
                        <p>Es muy importante tenr la firma electrnónica electrónica, cuenta con nostros.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Tramite de SAS</h2>
                        <p>¿Necesitas una persona moral?, es un paso importante, una Sociedad por Acciones Simplificada puede ser una excelente opción para micro empresas y empresas pequeñas</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Constancia de situación fiscal</h2>
                        <p>Te brindamos tu constancia de situación fiscal para cualquier tramite que necesites</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Generación de sello digital </h2>
                        <p>¡No te quedes sin la posibilidad de emitir facturas!, llámanos</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Alta y baja IMSS como patrón </h2>
                        <p>Asegura a tus empleados, con AUMC tendrás la tranquilidad de que así sea</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Alta y baja IMSS a trabajador</h2>
                        <p>Nos encargamos cuando tengas nuevo personal y se tenga que dar del baja en el seguro social</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Alta al padrón de contratistas (SEFIPLAN)</h2>
                        <p>Brinda servicios de obra pública y servicios relacionados con la misma.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6  cuadro">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-services">Alta al padrón de proovedores (SEFIPLAN)</h2>
                        <p>Ofrece tus servicios y productos al gobierno del estado de Veracruz, nos encargamos del trámite</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>