
*{
    font-family: 'Montserrat', sans-serif;
}
.container-fluid {
    padding-top: 4rem;

    background-color: #4C4C4C;
    color: black;
    height: auto;
    margin-bottom: -40px;
}
p{
    color: white;
}
h1{
    color: white;
    margin-top: 1rem;
}
sa-spinner-circular{
    display: block;    

}
